---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Project from "../components/ProjectsSection.astro";

const title = "Portfolio de Edward Minaya";
---

<Layout title={title}>
  <main class="container mx-auto">
    <Header />
    <Project/>
  </main>
</Layout>